<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <title>
          A Topological Approach to Gait Generation for Biped Robots
        </title>
    </head>
    <body>
      <%- include( 'header' ) %>
      <%- include( 'three' ) %>
      <%- include( 'footer' ) %>
      <script src="bundle.js" id="bundle"
        data-url="<%= url %>" data-bipeds="<%= bipeds %>"></script>
    </body>
</html>
